extends layout

block content
  h1 aircon

  #chart

  ul.button-list
    li
      button.btn.btn-danger(onclick="hot()") HOT
    li
      button.btn.btn-info(onclick="cool()") COOL
    li
      button.btn.btn-success(onclick="off()") OFF

  script(src='/javascripts/aircon.js')
